header {
    background-color: $primary-color;
    @extend %d-flex;
    justify-content: space-between;
    padding: .7rem 1rem;
    position: fixed;
    width: 100%;
    border-bottom: .1rem solid $bg-color;
    z-index: 10;

    .logo {
        display: grid;
        grid-template-rows: 20px 10px;

        &-f {
            grid-area: 1 / 1 / 3 / 2;
            font-size: 2rem;
            

            .f {
                position: relative;
                top: 0;
            }
        }

        &-r {
            grid-area: 1 / 2 / 2 / 3;
            font-size: 1.2rem;
        }

        &-ltd {
            grid-area: 2 / 2 / 0 / 3;
            font-size: .5rem;
            padding-left: .1rem;
            background-color: $bg-color;
        }
    }

    .menu-btn {
        display: block;
        cursor: pointer;
        width: fit-content;
        height: fit-content;
        transition: transform .2s ease;

        .bar {
            display: block;
            width: 28px;
            height: 3px;
            margin-bottom: 4px;
            background-color: $bg-color;
        }

        .bar3 {
            margin-bottom: 0px;
        }

        .open2 {
            visibility: hidden;
        }
        
        .open1 {
            transform: rotate(45deg) translate(4px, 7px);
        }
        
        .open3 {
            transform: rotate(-45deg) translate(3px, -6px);
        }
    }

    .open {
        transform: rotate(720deg);
    }

    .navbar {
        display: none;
    }
}